<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Your Review</h1>

    <form action="/movies/<%movie.id%>?_method=PUT">
        Name: <input type="text" name="name" value=""/> <br/>
        Review: <input type="text" name="name" value=""/> <br/>

    </form>
</body>
</html>