<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/app.css"/>
    <title></title>
</head>
<body>
    <h1>Pick Your Nightmare</h1>

    <a href="/movies/watch"><h2>Most Watched</h2></a>
    <a href="/movies/recommended"><h2>Highly Recommended</h2></a>
    <a href="/movies/dare"><h2>Enter If You Dare</h2></a>

    
</body>
</html>