@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body{
    background-image: url('https://m.media-amazon.com/images/I/61+yi9ULEiL._AC_UF894,1000_QL80_.jpg');
    font-family: 'Mountains of Christmas', serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: 'Mountains of Christmas', serif;
    font-size: 120px;
    text-align:center;
    font: weight 500px;;
    color: black;
}

h2{
    font-size: 50px;
    text-align: center;
}

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
}

form input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form input[type= "submit"]{
    background-color: black;
    color: #ccc;
    cursor: pointer;
}

form input[type= "hidden"]{
    margin-bottom: 10px;
}

.movie-image{
    width: 500px;
    height: auto;
    margin: 50px;
    border: 2px solid #333;
}

.movie-container{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 100vh;
}



a.edit-link{
    color: #007bff;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

a.edit-link:hover{
    text-decoration: underline;
    color: #0056b3;
}

a.menu-link{
    color: #007bff;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

a.menu-link:hover{
    text-decoration: underline;
    color: #0056b3;
}

.review{
    border: 1px solid #ccc;
    background-color: #ccc;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 30%;
}

.name{
    font-weight: bold;
    font-size: 25px;
}

.review-content{
    margin-top: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}