@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body{
    background-image: url('https://m.media-amazon.com/images/I/61+yi9ULEiL._AC_UF894,1000_QL80_.jpg');
    font-family: 'Mountains of Christmas', serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: 'Mountains of Christmas', serif;
    font-size: 120px;
    text-align:center;
    font: weight 500px;;
    color: black;
}

h2{
    font-size: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
}

form.edit-form{
    background-color: #999da0;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

form.edit-form input,
form.edit-form textarea{
    margin-bottom: 10px;
    padding: 8px;
}

form.edit-form input[type="submit"]{
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form.submit-form{
    text-align: center;
    margin: 10px;
}

.submit{
    background-color: #999da0;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.submit input[type="text"]
.submit input[type="submit"]{
    margin: 5px;
    padding: 5px;
}

.submit input[type="submit"]{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit input[type="submit"]:hover{
    background-color: #0056b3;
}

.movie-image{
    width: 500px;
    height: auto;
    margin: 50px;
    border: 2px solid #333;
}

.movie-container{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 100vh;
}

form.delete-form{
    display: inline;
}

input.delete-button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-family: 'Mountains of Christmas', serif;
    text-decoration: none;
    font-weight: bold;
    width: 10%;
    margin-left: 50%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

input.delete-button:hover{
    text-decoration: underline;
    color: #0056b3;
}

.edit-container{
    align-items: flex-start;
}

a.edit-link{
    color: #007bff;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-family: 'Mountains of Christmas', serif;
    text-decoration: none;
    font-weight: bold;
    width: 10%;
    margin-left: 50%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

a.edit-link:hover{
    text-decoration: underline;
    color: #0056b3;
}

a.menu-link{
    color: #007bff;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

a.menu-link:hover{
    text-decoration: underline;
    color: #0056b3;
}

.review{
    border: 1px solid #999da0;
    background-color: #999da0;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-weight: bold;
    font-size: 25px;
}

.review-content{
    margin-top: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}